@using UnicomWeb.LocationService;
@using TradeUtils;
@using UnicomWeb.Enums;
@model IEnumerable < UnicomWeb.LocationService.ModelOutletCheckInEx>

@{
    ViewBag.Title = "Посещенные торговые точки";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/css")
    //  @Scripts.Render("~/bundles/modernizr")

    String displayType = @ViewBag.DisplayType.ToString();
}

<script src="http://maps.google.com/maps/api/js?key=AIzaSyDqd3og1zPoWdVVZqvUHEfZGvrLcbLmLBQ" type="text/javascript"></script>


@section scripts {
    <script type="text/javascript">

     var varDisplayType ="";
     $(document).ready(function () {
         varDisplayType = "@displayType";
         console.log(varDisplayType);
         if (varDisplayType==="CheckIn")
             GetMap();
         else
             GetLocationTrip();
    });

    function GetLocationTrip() {
        google.maps.visualRefresh = true;
        $.getJSON('@Html.Raw(@Url.Action("GetJSONTrip", "RouteTrip", new { @routedate = @ViewBag.RouteDate, @idroute = @ViewBag.RouteId }))', function (data) {
            var currentPlace = new google.maps.LatLng(data[0].Latitude, data[0].Longtitude);
            var mapOptions = {
                zoom: 13,
                center: currentPlace,
                mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
            };
            var map = new google.maps.Map(document.getElementById("canvas"), mapOptions);
            var curNum = 0;
            var colorLabel = 'blue';
            var titleLabel = "";
            var iconPath = google.maps.SymbolPath.CIRCLE;
            var scale = 3;
            var counter = 0;
            var infoWindowText = "";
            $.each(data, function (i, item) {
                // console.log(item.Outlet + "  " + item.Longtitude + "    " + item.Latitude);
                if (i == 0) {
                    colorLabel = 'red';
                    titleLabel = "С";
                    iconPath = google.maps.SymbolPath.BACKWARD_CLOSED_ARROW;
                    scale = 5;
                    var infoWindowText = "Старт";
                    console.log(colorLabel);
                }
                else if (i == data.length-1)
                {
                    colorLabel = 'green';
                    titleLabel = "Ф";
                    iconPath = google.maps.SymbolPath.BACKWARD_CLOSED_ARROW;
                    scale = 5;
                    var infoWindowText = "Финиш";
                }
                else
                {
                    colorLabel = 'blue';
                    titleLabel = "";
                    iconPath = google.maps.SymbolPath.CIRCLE;
                    scale = 3;
                    var infoWindowText = "";
                }
                var marker = new google.maps.Marker({

                    'position': new google.maps.LatLng(item.Latitude, item.Longtitude),
                    'map': map,
                    'title': item.CheckInTimeString,
                    'label':titleLabel// item.RowNum.toString()
                });
                 
                marker.setIcon({
                    path:iconPath,// google.maps.SymbolPath.CIRCLE,
                    scale: scale,
                    fillColor: colorLabel,// "#00F",
                    fillOpacity: 0.9,
                    strokeWeight: 1
                })

                //  marker.setIcon('http://maps.google.com/mapfiles/ms/icons/red-dot.png')


                var infowindow = new google.maps.InfoWindow({
                    content: "<div class='outletInfo'>" + infoWindowText + "</div><div class='outletInfo'>Время: " + item.CheckInTimeString + "</div>"
                });


                google.maps.event.addListener(marker, 'click', function () {
                    infowindow.open(map, marker);
                });
                counter++;
            })
        });
    }
    
    function GetMap() {

        google.maps.visualRefresh = true;
        // установка основных координат
        // var currentPlace = new google.maps.LatLng(45.7269679, 28.6052163);

        // Установка общих параметров отображения карты, как масштаб, центральная точка и тип карты
        //var mapOptions = {
        //    zoom: 10,
        //    center: currentPlace,
        //    mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
        //};

        //// Встраиваем гугл-карты в элемент на странице и получаем объект карты

        // Настраиваем красный маркер, который будет использоваться для центральной точки
        //var myLatlng = new google.maps.LatLng(55.752622, 37.617567);

        //var marker = new google.maps.Marker({
        //    position: myLatlng,
        //    map: map,
        //    title: 'Торговые точки'
        //});

        //// Берем для маркера иконку с сайта google
        //marker.setIcon('http://maps.google.com/mapfiles/ms/icons/red-dot.png')



        $.getJSON('@Html.Raw(@Url.Action("GetJSONCheckIn", "RouteTrip", new { @routedate = @ViewBag.RouteDate, @idroute = @ViewBag.RouteId }))', function (data) {
            var currentPlace = new google.maps.LatLng(data[0].Latitude, data[0].Longtitude);
            var mapOptions = {
                zoom: 10,
                center: currentPlace,
                mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
            };
            var map = new google.maps.Map(document.getElementById("canvas"), mapOptions);
            var curNum = 0;

            $.each(data, function (i, item) {
               // console.log(item.Outlet + "  " + item.Longtitude + "    " + item.Latitude);
                var marker = new google.maps.Marker({

                    'position': new google.maps.LatLng(item.Latitude, item.Longtitude),
                    'map': map,
                    'title': item.Outlet + ":  " + item.CheckInTimeStr,
                    'label': item.CheckInNumber.toString()
                });
                //marker.setIcon({
                //    path: google.maps.SymbolPath.CIRCLE,
                //    scale: 3,
                //    fillColor: "#00F",
                //    fillOpacity: 0.3,
                //    strokeWeight: 1
                //})

                //  marker.setIcon('http://maps.google.com/mapfiles/ms/icons/red-dot.png')


                var infowindow = new google.maps.InfoWindow({
                    content: "<div class='outletInfo'>Торговая точка: " + item.Outlet + "</div><div class='outletInfo'> Время визита: " + item.CheckInTimeStr + "</div>"
                });


                google.maps.event.addListener(marker, 'click', function () {
                    infowindow.open(map, marker);
                });
            })
        });
    }

    var outletlistHeight;
    $("#expcolbtn").click(function () {

        if ($(this).val() === "+")
         {
             $(this).val("-");
             $("#outletlist").css("visibility", "visible");
             $("#outletlist").css("height", outletlistHeight);
         }
         else
         if ($(this).val() === "-") {
             $(this).val("+");
             outletlistHeight = $("#outletlist").height();
             $("#outletlist").css("visibility", "hidden");
             $("#outletlist").css("height", 0);
         }
    });

    </script>
    }

@if (ViewBag.DisplayType == "CheckIn")
{
    <h4>Посещенные торговые точки по маршруту <b>  @ViewBag.RouteName </b> за <b>@ViewBag.RouteDate</b></h4>

    <hr />
    <div>
            <input type="button" value="-" class="expcollapse" id = "expcolbtn" />
      
    </div>
    <div class="uloutlets" id = "outletlist">
        <ul class="uloutlets">
            @{ int i = 1; }
            @foreach (ModelOutletCheckInEx checkin in Model)
            {
                <li><b>@i</b>   @checkin.Outlet    :  <b>@TradeUtils.FormatHelper.FormatDateToTimeSimple(checkin.CheckInTime)</b></li>
                i++;
            }
        </ul>
    </div>
}
else
{
    <h4>Маршрут <b>  @ViewBag.RouteName </b> за <b>@ViewBag.RouteDate</b></h4>
}
<hr />
    <div id="canvas" style="height: 1200px; width:auto;"></div>


