<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Unicom</title>
    @*<style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: black;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        li {
            float: left;
        }

            li a, .dropbtn {
                display: inline-block;
                color: lightgray;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                .dropbtn:hover {
                    background-color: gray;
                    color: #fff;
                    text-decoration:none
                }



            li .dropdown:hover {
                background-color: gray;
                color: green;
            }



            li.dropdown {
                display: inline-block;
            }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,1.6);
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                color: black;
                text-align: left;
            }

                .dropdown-content a:hover {
                    background-color: lightgray;
                    color: #000;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }
        .dropbtn {
                    display: inline-block;
                    color: lightgray;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                }
    </style>*@
    @Styles.Render("~/Content/site.css")
    @Styles.Render("~/Content/bootstrap.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/gscommon")
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
</head>
<body>
@*<div>
            <ul class="ulmenumain">
                <li class="dropdown">@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Навигация</a>
                    <div class="dropdown-content">
                        @Html.ActionLink("Пробег", "Index", "RouteTrip")
                        @Html.ActionLink("Валидация точек", "Index", "OutletDestinationValidation")
                    </div>
                </li>
            </ul>
    </div>*@


    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<a class="navbar-brand" href="/home/index">Home</a>*@
                @Html.ActionLink("Home", "Index", "Home", new object { },new { @class = "navbar-brand" })
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    @*<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>*@
                    @*<li><a href="#">Link</a></li>*@
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Навигация <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Пробег", "Index", "RouteTrip")</li>
                            
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Валидация точек", "Index", "OutletDestinationValidation")</li>
                        </ul>
                    </li>
                </ul>
                @*<ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>*@
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
        <div class="container ">
            @RenderBody()
        </div>
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Unicom Trade</p>
    </footer>

</body>
</html>
